<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.name }}">
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
    <link rel="canonical" href="{{ site.url }}">
    <link rel="sitemap" href="/sitemap.xml" type="application/xml" title="{{ site.name }}: {{ site.description }} (Sitemap)">
    <title{{ site.description }}</title>

    <meta name="description" content="{{ site.name }} – {{ site.description }}">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    {% include stylesheets %}

    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <!--==============================header=================================-->
        <header>
            {% include header %}
        </header>

        <!--==============================content================================-->
        {{ content }}

        <!--==============================footer=================================-->
        <footer>
            {% include footer %}
        </footer>

    </div>
    <!-- /container -->
</body>

</html>
